{% extends 'base.html.twig' %}
{% block title %}
    Compte caisse
{% endblock %}
{% block body %}
    <div class="row row-cards">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h2>
                        CashAccount index
                    </h2>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-vcenter card-table" style="text-align: center;">
                            <thead>
                                <tr>
                                    {#<th>
                                        Id
                                    </th>#}
                                    <th>
                                        Code journal
                                    </th>
                                    <th>
                                        Nom
                                    </th>
                                    <th>
                                        Numéro de compte
                                    </th>
                                    <th>
                                        Solde à l'ouverture
                                    </th>
                                    <th>
                                        Plafond
                                    </th>
                                    <th>
                                        Solde plancher
                                    </th>
                                    <th>
                                        Caissier
                                    </th>
                                    <th>
                                        Contact
                                    </th>
                                    <th>
                                        Responsable
                                    </th>
                                    <th>
                                        Actions
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for cash_account in cash_accounts %}
                                    <tr>
                                        {#<td>
                                                                                                                                                                    {{ cash_account.id }}
                                                                                                                                                                </td>#}
                                        <td>
                                            {{ cash_account.codeJournal}}
                                        </td>
                                                                                                                                                                <td>
                                            {{ cash_account.nom }}
                                        </td>
                                        <td>
                                            {{ cash_account.numCpte }}
                                        </td>
                                        <td>
                                            {{ cash_account.soldeOuv }}
                                        </td>
                                        <td>
                                            {{ cash_account.plafond }}
                                        </td>
                                        <td>
                                            {{ cash_account.soldePlancher }}
                                        </td>
                                        <td>
                                            {{ cash_account.caissier }}
                                        </td>
                                        <td>
                                            {{ cash_account.contact }}
                                        </td>
                                        <td>
                                            {{ cash_account.responsable }}
                                        </td>
                                        {#<td>
                                                                                                                                                                    {{ cash_account.createdAt ? cash_account.createdAt|date('Y-m-d H:i:s') : '' }}
                                                                                                                                                                </td>
                                                                                                                                                                <td>
                                                                                                                                                                    {{ cash_account.updatedAt ? cash_account.updatedAt|date('Y-m-d H:i:s') : '' }}
                                                                                                                                                                </td>#}
                                        {#<td>
                                                                                    <a href="{{ path('app_cash_account_show', {'id': cash_account.id}) }}">show</a>
                                                                                    <a href="{{ path('app_cash_account_edit', {'id': cash_account.id}) }}">edit</a>
                                                                                </td>#}
                                        <td>
                                            <div>
                                                <button class=" btn btn-ghost-cyan">
                                                    <a class="float" href="{{ path('app_cash_account_show', {'id': cash_account.id}) }}">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                                            <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
                                                            <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
                                                        </svg>
                                                    </a>
                                                </button>
                                                <form method="post" action="{{ path('app_cash_account_delete', {'id': cash_account.id}) }}" onsubmit="return confirm('Vous allez supprimer ce compte caisse. Confirmer?');">
                                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cash_account.id) }}">
                                                        <button class=" btn btn-ghost-danger">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                                                            </svg>
                                                        </button>
                                                </form>
                                            </div>
                                        </td>
                                    </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="15">
                                                <div class="container-xl d-flex flex-column justify-content-center">
                                                    <div class="empty">
                                                        <div class="empty-img">
                                                            <img src="{{ asset('images/illustrations/undraw_printing_invoices_5r4r.svg') }}" height="128" alt=""></div>
                                                            <p class="empty-title">
                                                                Aucun élément disponible                                            
                                                            </p>
                                                            <p class="empty-subtitle text-muted">
                                                                Tableau vide. Essayez d'ajouter un nouvel élément.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="mr-auto" style="float: right;">
                                <a class="btn btn-ghost-primary active" href="{{ path('app_cash_account_new') }}">
                                    Nouveau
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
        